@import "./_reset";
@import "../../node_modules/materialize-css/sass/materialize.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
@import "../../node_modules/toastr/toastr.scss";

$primary-color: #e8eaf6;
$accent-color: #5d4037;
$bg-color: #3f51b5;
$text-color: #6E7587;
$font-head: 'Montserrat', sans-serif;
$font-body: 'Roboto', sans-serif;

* {
	box-sizing: border-box;
}
.dropdown-content {
	max-height: 500px;
}
.container {
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	background: $bg-color;
	background: linear-gradient(lighten($bg-color,10), $bg-color);
	color: $text-color;
	padding-bottom: 6rem;
	.login-view {
		text-align: center;
		margin: auto;
		color: $primary-color;
		.login-wrapper {
			margin: auto;
			h3 {
				padding-bottom: 0.5rem;
			}
			.btn {
				background-color: $primary-color;
				color: $bg-color;
				margin: auto;
			}
			.btn:hover {
				background-color: darken($primary-color,30);
			}
			.btn:active {
				background-color: darken($primary-color,10);
			}
		}
	}
	header {
		.header-wrapper {
			width: 100%;
			border-bottom: 1px solid $primary-color;
			color: $primary-color;
			.logo {
				font-family: $font-head;
				padding-bottom: 15px;
			}
			.user-details {
				font-size: 1rem;
				font-family: $font-body;
				h6 {
					padding-bottom: 15px;
				}
				.logout-button {
					padding-left: 10px;
					transition: 0.5s all ease;
				}
				.logout-button:hover {
					color: lighten($text-color,30);
					cursor: pointer;
				}
				.logout-button:active {
					color: lighten($text-color,10);
					cursor: pointer;
				}
			}
		}
		.group:after {
			  content: "";
			  display: table;
			  clear: both;
		}
	}
	.schedule-app {
		margin: 0 auto;
		header {
			padding-bottom: 30px;
		}
		.make-visible {
			transition: 0.3s all ease-in-out;
			visibility: visible;
		}
		.make-hidden {
			transition: 0s all ease-in-out;
			visibility: hidden;
		}
		.slow-appear {
			transition: 1s all ease-in-out;
		}
		.fast-disappear {
			transition: 0s all ease-in-out;
		}
		.schedule-pop-up {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			z-index: 5;
			background-color: white;
			font-family: $font-body;
			.select-dropdown, .select-dropdown span  {
				color: $bg-color;
				font-family: $font-body;
			}
			.date-select {
				margin: auto;
				padding: 1.5rem;
				display: inline-block;
				width: 160px;
				height: 110px;
				text-align: left;
				p {
					text-align: left;
					color: $text-color;
				}
			}
			.time-select {
				margin: auto;
				padding: 1.5rem;
				display: inline-block;
				width: 160px;
				height: 110px;
				text-align: right;
				p {
					text-align: right;
					color: $text-color;
				}
			}
			.confirm {
				padding: 1rem;
				margin: 0;
				p {
					text-align: center;
				}
			}
			.schedule {
				text-align: center;
				padding-bottom: 1rem;
				button {
					background-color: $bg-color;
					color: $primary-color;
				}
			}
		}
		.body-container {
			margin: 0 auto;
			.limiter-container {
				text-align: center;
				margin: 20px auto;
				padding-bottom: 20px;
				.instructions{
					padding-bottom: 15px;
					p {
						font-size: 1rem;
						margin: 0;
						line-height: 1.5rem;
						font-family: $font-body;
						color: $primary-color;
					}
					p:first-child {
						font-size: 1.5rem;
						padding-bottom: 0.5rem;
					}
				}
				.limiter {
				    height: 150px;
				    width: 150px;
				    border-radius: 60%;
				    margin: auto;
				    position: relative;
				    background-color: #e8eaf6;
				    z-index: 1;
			    	p {	
			    		color: $text-color;
						font-size: 6rem;
						line-height: 150px;
						z-index: 2;
						font-family: $font-head;
						transition: 1s ease-in-out all;
					}
					.tasks-length {
					    border-radius: 60%;
					    position: absolute;
					    top: 50%;
					    left: 50%;
					    transform: translate(-50%,-50%);
					    transition: 1s ease-in-out all;
					    background-color: lighten(#3f51b5,30);
					    z-index: -1;
					}
				}
				.limiter:hover {
					cursor: pointer;
				}	
			}
			.task-container {
				margin: 0 auto;
				position: relative;
				font-family: $font-body;
				transition: 1s ease all;
				.add-task-form {
					color: $primary-color;
					position: relative;
					input {
						margin-top: 0;
					}
					.task-length {
						width: 100px;
					}
					.add {
						line-height: 3rem;
						background-color: $primary-color;
						i {
							color: $bg-color;
						}
					}
					.add:hover {
							background-color: darken($primary-color,10);
					}
					.add:active {
							background-color: darken($primary-color,30);
					}
					input:not([type]):focus:not([readonly]), input[type=number]:focus:not([readonly]) {
				    	border-bottom: 1px solid $primary-color;
				    	box-shadow: 0 1px 0 0 $primary-color;
					}
				}
				.task-list {
					border: none;
					.task {
						margin: auto;
						position: relative;
						.task-name {
							display: inline-block;
							padding: 1% 2%;
							margin-bottom: 5px;
						}
						.remove {
							color: $primary-color;
							background-color: #5c6bc0;
						}
						.remove:hover {
							background-color: darken(#5c6bc0,10);
						}
						.remove:active {
							background-color: darken(#5c6bc0,30);
						}
					}
				}
			}
		}
		.darken-bg {
			width: 100%;
			height: 100vh;
			background-color: black;
			position: fixed;
			top: 0;
			left: 0;
			opacity: 0.5;
			z-index: 4;
		}
	}
	
}
@media (min-width: 716px) {
	.header-wrapper {
		padding: 2% 4%;
	}
	.logo {
		margin: 0;
		float: left;
	}
	.user-details {
		float: right;
		text-align: right;
	}
	.task-container {
		max-width: 768px;
		.add-task-form {
			padding: 20px;
			input {
				font-size: 2rem;
			}
			.task-name {
				width: 70%;
				margin: 0;
				padding: 1% 2%;
				padding-right: 23px;
			}
			.task-length {
				position: absolute;
				top: 50%;
				width: 100px;
				transform: translateY(-50%);
				text-align: center;
				margin: 0;
				margin-left: 15px;
				padding: 1% 2%;
			}
			.add {
				position: absolute;
				top: 50%;
				right: 15px;
				transform: translateY(-50%);
			}
		}
		.task {
			max-width: 768px;
			padding: 20px;
			.task-name, .task-length {
				font-size: 2rem;
			}
			.task-name {
				width: 75%;
				line-height: 3rem;
			}
			.task-length {
				width: 100px;
				position: absolute;
				top: 50%;   
				right: 74px;
				transform: translateY(-50%);
				padding-left: 20px;
				text-align: center;
				margin: 0 15px;
			}
			.remove {
				position: absolute;
				top: 50%;
				right: 15px;
				transform: translateY(-50%);
			}
		}
	}

}
@media (max-width: 715px) {
	.header-wrapper {
		padding: 2rem 1rem;
		.logo {
			margin: 0 auto;
			float: none;
			text-align: center;
			font-size: 3rem;
		}
		.user-details {
			float: none;
			text-align: center;
		}
	}
	.task-container {
		max-width: 320px;
		.add-task-form {
			padding: 0;
			input {
				font-size: 1.5rem;
			}
			.task-name {
				width: 300px;
				padding: 10px 0%;
				padding-left: 20px;
				margin: 0;
			}
			.task-length{
				display: inline-block;
				text-align: center;
				padding: 10px 0%;
				padding-left: 20px;
				margin-right: 5px;
			}
			.task-length:placeholder-shown {
				text-align: left;
			}
			.add {
				position: absolute;
			    left: 50%;
			    bottom: 2rem;
			    transform: translateX(-50%);
			}
		}
		.task {
			max-width: 320px;
			.task-name, .task-length {
				font-size: 1.5rem;
			}
			.task-name {
				width: 250px;
				line-height: 1.5rem;
			}
			.task-length {
				position: absolute;
				top: 12px;
				right: 20px;
				text-align: left;
				line-height: 1.5rem
			}
			.remove {
				display: block;
				margin: auto;
			}
		}
	}
}
@media (max-width: 380px) {
	.login-wrapper {
		h1 {
			font-size: 3rem;
		}
		h3 {
			font-size: 2rem;
		}
	}
	.header-wrapper {
		.logo {
			font-size: 2.5rem;
		}
	}
}