@import "./_reset";
@import "../../node_modules/materialize-css/sass/materialize.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

$primary-color: #e8eaf6;
$accent-color: #5d4037;
$bg-color: #3f51b5;
$text-color: #6E7587;
$font-head: 'Montserrat', sans-serif;
$font-body: 'Roboto', sans-serif;

* {
	box-sizing: border-box;
}

.container {
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	background: $bg-color;
	background: linear-gradient(lighten($bg-color,10), $bg-color);
	color: $text-color;
	padding-bottom: 6rem;
	.login-view {
		text-align: center;
		margin: auto;
		color: $primary-color;
		.login-wrapper {
			margin: auto;
			h3 {
				padding-bottom: 0.5rem;
			}
			.btn {
				background-color: $primary-color;
				color: $bg-color;
				margin: auto;
			}
		}
	}
	header {
		.header-wrapper {
			width: 100%;
			padding: 2% 4%;
			border-bottom: 1px solid $primary-color;
			color: $primary-color;
			.logo {
				margin: 0;
				font-family: $font-head;

			}
			.user-details {
				text-align: right;
				font-size: 1rem;
				font-family: $font-body;
				h6 {
					padding-bottom: 15px;
				}
				.logout-button {
					padding-left: 10px;
					transition: 0.5s all ease;
				}
				.logout-button:hover {
					color: lighten($text-color,30);
					cursor: pointer;
				}
				.logout-button:active {
					color: lighten($text-color,10);
					cursor: pointer;
				}
			}
		}
		.group:after {
			  content: "";
			  display: table;
			  clear: both;
		}
	}
	.schedule-app {
		margin: 0 auto;
		.schedule-pop-up {
			position: absolute;
			top: 19%;
			left: 50%;
			transform: translateX(-50%);
			transition: 0.2s all ease-in-out;
			z-index: 5;
			background-color: white;
			font-family: $font-body;
			.select-dropdown, .select-dropdown span  {
				color: $bg-color;
				font-family: $font-body;
			}
			.date-select {
				margin: auto;
				padding: 1.5rem;
				display: inline-block;
				width: 180px;
				height: 100px;
				text-align: left;
				p {
					text-align: left;
					color: $text-color;
				}
			}
			.time-select {
				margin: auto;
				padding: 1.5rem;
				display: inline-block;
				width: 180px;
				height: 100px;
				text-align: right;
				transition: 1s all ease;
				p {
					text-align: right;
					color: $text-color;
				}
			}
			.confirm {
				padding: 1rem;
				margin: 0;
				transition: 1s all ease;
				p {
					text-align: center;
				}
			}
			.schedule {
				text-align: center;
				transition: 1s all ease;
				button {
					background-color: $bg-color;
					color: $primary-color;
				}
			}
		}
		.body-container {
			margin: 0 auto;
			.limiter-container {
				text-align: center;
				margin: 50px auto;
				.instructions{
					padding-bottom: 15px;
					p {
						font-size: 1rem;
						margin: 0;
						line-height: 1.5rem;
						font-family: $font-body;
						color: $primary-color;
					}
					p:first-child {
						font-size: 1.5rem;
						padding-bottom: 0.5rem;
					}
				}
				.limiter {
				    height: 150px;
				    width: 150px;
				    border-radius: 60%;
				    margin: auto;
				    position: relative;
				    background-color: #e8eaf6;
				    z-index: 1;
			    	p {	
			    		color: $text-color;
						font-size: 6rem;
						line-height: 150px;
						z-index: 2;
						font-family: $font-head;
						transition: 1s ease-in-out all;
					}
					.tasks-length {
					    border-radius: 60%;
					    position: absolute;
					    top: 50%;
					    left: 50%;
					    transform: translate(-50%,-50%);
					    transition: 1s ease-in-out all;
					    background-color: lighten(#3f51b5,30);
					    z-index: -1;
					}
				}
				.limiter:hover {
					cursor: pointer;
				}	
			}
			.task-container {
				max-width: 768px;
				margin: 0 auto;
				position: relative;
				font-family: $font-body;
				transition: 1s ease all;
				.add-task-form {
					color: $primary-color;
					position: relative;
					padding: 15px 0px;
					input {
						font-size: 2rem;
						padding: 1% 2%;
						margin: 0;
					}
					.task-name {
						width: 70%;
					}
					.task-length {
						position: absolute;
						top: 50%;
						width: 100px;
						transform: translateY(-50%);
						text-align: center;
						margin: 0 15px;
					}
					.add {
						position: absolute;
						top: 50%;
						right: 10px;
						transform: translateY(-50%);
						line-height: 3rem;
						background-color: $primary-color;
						i {
							color: $bg-color;
						}
					}
					.add:hover {
							background-color: darken($primary-color,10);
					}
					.add:active {
							background-color: darken($primary-color,30);
					}
					input:not([type]):focus:not([readonly]), input[type=number]:focus:not([readonly]) {
				    	border-bottom: 1px solid $primary-color;
				    	box-shadow: 0 1px 0 0 $primary-color;
					}
				}
				.task-list {
					border: none;
					.task {
						max-width: 768px;
						margin: auto;
						position: relative;
						.task-name, .task-length {
							font-size: 2rem;
						}
						.task-name {
							display: inline-block;
							padding: 1% 2%;
							font-size: 2rem;
							width: 75%;
							line-height: 2rem;
							margin-bottom: 5px;
						}
						.task-length {
							position: absolute;
							top: 0;   
    						right: 74px;
     						padding-top: 20px;
     						padding-left: 20px;
							width: 100px;
							text-align: center;
							margin: 0 15px;
						}
						.remove {
							position: absolute;
							top: 50%;
							right: 10px;
							transform: translateY(-50%);
							color: $primary-color;
							background-color: #5c6bc0;
						}
						.remove:hover {
							background-color: darken(#5c6bc0,10);
						}
						.remove:active {
							background-color: darken(#5c6bc0,30);
						}
					}
				}
			}
		}
		.darken-bg {
			transition: 0.5s ease all;
			width: 100%;
			height: 100vh;
			background-color: black;
			position: fixed;
			top: 0;
			left: 0;
			opacity: 0.5;
			z-index: 4;
		}
	}
}